body{
    background-color: black !important;
    color: white !important;
    font-family:Georgia, 'Times New Roman', Times, serif !important;
}
.chat_box{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    background-color: white !important;
    border: 2px solid white !important;
    border-radius: 10px;
    flex-grow: 1 !important;
    background-image: url('./chat_background.jpg');
    background-size: cover; 
    background-position: center;
    overflow-y: auto !important; 
    overflow-x: hidden; 
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.form_group {
    display: flex;
    gap: 15px;
    margin: auto;
    
}
 
/* Default styling for larger screens (desktop) */
#send_message {
    flex: 1;
    width: 780px;
    margin-left: 2px;
}

@media (max-width: 768px) {
    #send_message {
        width: 300px; 
    }
}

.send_button { 
    background-color: black !important;
    color: white;
    width: 60px;
    border-color: white !important;
    margin-top: 10px;
}

.heading {
    margin-top: 25px;
}

.message_receive {
    background-color: rgb(180, 180, 170);
    width: 24%;
    padding: 6px;
    margin: 10px 17px;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: left;
    color: black;
    padding-left: 10px;
}

.message_send {
    background-color: rgb(129, 212, 155);
    width: 24%;
    padding: 6px;
    margin: 10px 17px;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: left;
    color: black;
    padding-left: 10px;
}


.left { 
    float: left;
}

.right { 
    float: right;
    margin-left: auto; 
}


